* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.logo {
    height: 150px;
}
h2 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(4, 235, 235);
    margin: 12px 0;
    text-transform: capitalize;
}
p {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 12px;
}
.container {
    width: 400px;
}
.currency {
    display: flex;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
}
.currency select {
    padding: 10px 20px 10px 10px;
    -webkit-appearance: none;
    appearance: none;
    /* border: none; */
    outline: none;
    font-size: 16px;
    background: transparent;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-position: right 5px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}

.currency input {
    /* border: 0; */
    background: transparent;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    text-align: right;
}
.btn-swap {
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 2px;
    background-color: rgb(84, 211, 198);
    color: white;
    border: none;
    outline: none;
}
.btn-swap:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}
.swap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: turquoise; */
}
.swap-rate {
    background-color: turquoise;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
